/*
* full page styles
*/
/* line 10, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
html {
  height: 100%;
}
/* line 12, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
html body {
  height: 100%;
  color: black;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}
/* line 18, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
html body #homepage {
  display: flex;
  flex-flow: column;
  background-image: url("jaanus-jagomagi-365720-unsplash-min.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 36, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 54, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#about-container, #experience-container,
#form-container, #skills-container {
  width: 100%;
}

/* line 59, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#about-container, #skills-container {
  background-color: white;
}

/* line 63, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#experience-container, #form-container {
  background-color: #f4efe0;
}

/* line 67, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  width: 100%;
  z-index: 45;
  text-align: center;
}
/* line 76, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header h1 {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 80px;
  font-weight: normal;
  color: #53cab5;
  font-family: 'Handlee', cursive;
}
/* line 89, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header .header-title {
  height: 40%;
  text-align: center;
}
/* line 92, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header .header-title h1 {
  position: relative;
  width: 70%;
  bottom: 0px;
  top: 0px;
  margin: 25px auto;
  vertical-align: middle;
  display: block;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
/* line 105, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header .header-quote {
  height: 60%;
}
/* line 107, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header .header-quote h4 {
  font-family: 'Handlee', cursive;
  border-top: 1px solid rgba(83, 202, 181, 0.2);
  vertical-align: middle;
  display: block;
  position: relative;
  bottom: 0px;
  margin: auto;
  width: 70%;
}
/* line 116, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header .header-quote h4 blockquote {
  font-weight: 100;
  font-size: 29px;
  font-family: 'Tangerine', cursive;
  font-style: italic;
  text-decoration: none;
}

/* line 127, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.content {
  display: flex;
  width: 100%;
  position: absolute;
  margin-top: 200px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/* line 144, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.content .content-wrapper {
  margin-top: 5px;
  margin-right: 15vw;
  margin-left: 15vw;
  height: 100%;
}

/*footer*/
/* line 154, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer {
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
}
/* line 161, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links {
  vertical-align: middle;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
/* line 169, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa {
  padding: 20px;
  font-size: 22px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
/* line 179, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa:hover {
  opacity: 0.7;
}
/* line 182, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-facebook {
  background: #3B5998;
  color: white;
}
/* line 186, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-twitter {
  background: #55ACEE;
  color: white;
}
/* line 190, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 194, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-instagram {
  background: #125688;
  color: white;
}

/* line 201, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: white;
}
