/*
* full page styles
*/
/* line 8, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
body, html {
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

/* line 16, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: white;
}

/* line 20, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

/* line 30, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#about-container,
#experience-container, #interests-container,
#form-container, #skills-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

/* line 41, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30%;
  width: 100%;
  z-index: 45;
  box-shadow: 0px -5px 50px 5px black, 0px 5px 50px 5px black;
  text-align: center;
}
/* line 51, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 80px;
  font-weight: normal;
  color: #53cab5;
  font-family: 'Handlee', cursive;
}

/* line 64, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.content {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url("no-pencil.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/* line 81, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.content .content-wrapper {
  margin-right: 152px;
  margin-left: 152px;
  height: 100%;
}

/* line 88, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.all_button {
  box-shadow: 2px 2px 5px #53cab5;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-size: 18px;
  border: 1px solid #53cab5;
  border-radius: 10px;
  font-weight: normal;
  width: 120px;
  height: 50px;
}
/* line 103, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
.all_button:hover {
  box-shadow: 4px 4px 10px #53cab5;
  margin-top: -2px;
  margin-left: -2px;
}

/*
*
*  main section styles
*/
/* line 115, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#homepage {
  background-image: url("kelly-sikkema-450720.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 131, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#center_peice {
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 100%;
}

/* line 138, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#title {
  border: 1px solid blue;
  font-family: 'Handlee', cursive;
  width: 100%;
  font-weight: bold;
  vertical-align: middle;
  display: block;
  font-size: 38px;
  letter-spacing: 10px;
  color: white;
}

/* line 150, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#middle {
  width: 100%;
  text-align: center;
}

/* line 155, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#main_buttons {
  display: block;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

/*footer*/
/* line 164, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer {
  position: absolute;
  bottom: 0;
  height: 15%;
}
/* line 169, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links {
  vertical-align: middle;
  position: relative;
  margin-top: 12px;
  margin-right: 25px;
  float: right;
}
/* line 177, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa {
  padding: 20px;
  font-size: 22px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
/* line 187, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa:hover {
  opacity: 0.7;
}
/* line 190, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-facebook {
  background: #3B5998;
  color: white;
}
/* line 194, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-twitter {
  background: #55ACEE;
  color: white;
}
/* line 198, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-linkedin {
  background: #007bb5;
  color: white;
}
/* line 202, /Users/admin/PersonalSite/app/assets/stylesheets/custom.css.scss */
#footer #footer-links .fa-instagram {
  background: #125688;
  color: white;
}
