/* line 4, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container {
  background-image: url("elijah-flores-99207.jpg");
  min-height: 200vh;
  display: block;
  overflow: auto;
}
/* line 12, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content {
  font-family: 'Montserrat', arial;
  font-weight: 100;
}
/* line 15, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper {
  margin: 0 200px 0 200px;
  display: flex;
  flex-direction: column;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education {
  margin: auto;
  flex: 1;
}
/* line 22, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 27, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table {
  width: 100%;
  padding: 0 50px 0 50px;
}
/* line 30, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table .row-title {
  padding: 20px 50px 20px 0;
  width: 250px;
  text-align: center;
  vertical-align: middle;
}
/* line 35, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table .row-title .name {
  font-size: 16px;
  font-weight: bold;
}
/* line 39, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table .row-title .date {
  font-size: 13px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}
/* line 45, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table .row-content {
  padding-left: 60px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Inconsolata', monospace;
}
/* line 51, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table .info-title {
  font-family: 'Montserrat', arial;
  font-size: 16px;
  font-weight: bold;
}
/* line 56, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table tr {
  height: 100px;
}
/* line 58, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table tr td {
  text-align: left;
}
/* line 60, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #education table tr td ul li {
  text-align: center;
  list-style: none;
}
/* line 68, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs {
  margin: auto;
  flex: 1;
}
/* line 71, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 76, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table {
  width: 100%;
  padding: 0 50px 0 50px;
}
/* line 79, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table .row-title {
  padding: 20px 50px 20px 0;
  width: 250px;
  text-align: center;
  vertical-align: middle;
}
/* line 84, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table .row-title .name {
  font-size: 16px;
  font-weight: bold;
}
/* line 88, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table .row-title .date {
  font-size: 13px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}
/* line 94, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table .row-content {
  padding-left: 60px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Inconsolata', monospace;
}
/* line 100, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table .info-title {
  font-family: 'Montserrat', arial;
  font-size: 16px;
  font-weight: bold;
}
/* line 105, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table tr {
  height: 100px;
}
/* line 107, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table tr td {
  text-align: left;
}
/* line 109, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container #experience-content .content-wrapper #jobs table tr td ul li {
  text-align: center;
  list-style: none;
}
