/*
*  experience section styles
*/
/* line 7, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-container {
  background-image: url("elijah-flores-99207.jpg");
  height: 200%;
}

/* line 15, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content {
  font-family: 'Montserrat', arial;
  font-weight: 100;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content .content-wrapper {
  margin: 0 200px 0 200px;
}
/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 30, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table {
  width: 100%;
  padding: 0 50px 0 50px;
}
/* line 34, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table .row-title {
  padding: 20px 50px 20px 0;
  width: 250px;
  text-align: center;
  vertical-align: middle;
}
/* line 39, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table .row-title .name {
  font-size: 16px;
  font-weight: bold;
}
/* line 44, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table .row-title .date {
  font-size: 13px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}
/* line 51, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table .row-content {
  padding-left: 60px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Inconsolata', monospace;
}
/* line 58, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table .info-title {
  font-family: 'Montserrat', arial;
  font-size: 16px;
  font-weight: bold;
}
/* line 64, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table tr {
  height: 100px;
}
/* line 66, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table tr td {
  text-align: left;
}
/* line 69, /Users/admin/PersonalSite/app/assets/stylesheets/experience.css.scss */
#experience-content table tr td ul li {
  text-align: center;
  list-style: none;
}
