/*
*  form section styles
*/
/* line 8, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-container {
  height: 100%;
  background-image: url("no-pencil.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-content {
  font-family: 'Montserrat', arial;
  position: absolute;
  top: 0px;
  height: 85%;
  background-image: none;
  background-color: black;
  text-align: center;
}
/* line 33, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-content form {
  position: relative;
  height: 100%;
  color: black;
  vertical-align: middle;
}
/* line 39, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-content form .field {
  padding: 15px;
  font-size: 18px;
  vertical-align: middle;
}
/* line 45, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-content form .field .label {
  display: block;
  font-weight: 400;
}
/* line 51, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#form-content form .actions {
  margin-top: 10px;
}

/* line 57, /Users/admin/PersonalSite/app/assets/stylesheets/form.css.scss */
#footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 20%;
}
