/*
*  interests section styles
*/
/* line 6, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 180%;
  margin-bottom: -300px;
}

/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-header {
  height: 25%;
}

/* line 27, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content {
  height: 75%;
  border: 1px solid blue;
}
/* line 30, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content .content-wrapper {
  border: 1px solid red;
  display: block;
  overflow: auto;
}
/* line 34, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content .content-wrapper .interest {
  height: 160px;
  border: 1px solid purple;
}
