/*
*  interests section styles
*/
/* line 6, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 150%;
  margin-bottom: -300px;
}

/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-header {
  height: 25%;
}

/* line 27, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content {
  height: 75%;
}
/* line 29, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content .eyeball {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: black;
  margin: 220px 0 0 140px;
}
/* line 37, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content #interest-1 {
  border-radius: 100%;
  margin: 55px 0 0 70px;
  background-color: white;
  width: 300px;
  height: 300px;
  float: left;
  box-shadow: 0px 0px 25px 1px #000;
}
/* line 47, /Users/admin/PersonalSite/app/assets/stylesheets/interests.css.scss */
#interests-content #interest-2 {
  border-radius: 100%;
  margin: 55px 70px 0 0;
  background-color: white;
  width: 300px;
  height: 300px;
  float: right;
  box-shadow: 0px 0px 25px 1px #000;
}
