@media screen and (max-width: 990px) and (min-width: 1px) {
  /* line 7, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .container {
    background-attachment: scroll;
    display: block;
  }

  /* line 11, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .content {
    display: flex;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  /* line 16, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .content ul li {
    list-style: none;
  }

  /* line 21, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .header {
    background-image: none;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
    text-align: center;
  }
  /* line 25, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .header h1 {
    font-size: 40px;
    color: #53cab5;
  }

  /* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container {
    background-attachment: scroll;
    background-image: url("yousif-malibiran-182543.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
  /* line 41, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #home-content {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    width: 100%;
  }
  /* line 47, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #home-content #center_peice {
    margin: auto;
    text-align: center;
  }
  /* line 50, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #home-content #center_peice h1#title {
    color: white;
    letter-spacing: 3px;
  }
  /* line 53, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #home-content #center_peice h1#title hr {
    border: 1px solid rgba(83, 202, 181, 0.4);
  }
  /* line 56, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #home-content #center_peice h1#title #name {
    color: #53cab5;
  }

  /*
  *
  *
  * profile.css.scss
  *
  *
  */
  /* line 78, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-header h2 {
    font-size: 18px;
  }
  /* line 84, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper h3 {
    color: #53cab5;
  }
  /* line 91, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-pic #prof-pic {
    border-radius: 100%;
    border: 15px solid rgba(0, 0, 0, 0.3);
    margin: 5px;
  }
  /* line 99, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-info #info-text h6 {
    font-weight: bold;
  }
  /* line 102, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-info #info-text ul {
    padding: 0;
  }

  /*
  *
  *
  * experience.css.scss
  *
  *
  */
  /* line 119, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container {
    background-color: #f4efe0;
  }
  /* line 125, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper {
    width: 100%;
  }
  /* line 127, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper h2 {
    color: #53cab5;
  }
  /* line 130, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table, #homepage #experience-container #experience-content .content-wrapper thead, #homepage #experience-container #experience-content .content-wrapper tbody, #homepage #experience-container #experience-content .content-wrapper th, #homepage #experience-container #experience-content .content-wrapper td, #homepage #experience-container #experience-content .content-wrapper tr {
    display: block;
  }
  /* line 133, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table {
    text-align: left;
  }
  /* line 135, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-title {
    line-height: 14px;
  }
  /* line 137, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-title .name {
    font-size: 20px;
    font-weight: 400;
  }
  /* line 150, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-content .info-title .intro {
    display: none;
  }
  /* line 154, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-content ul li {
    display: none;
  }

  /*
  *
  *
  * skills.css.scss
  *
  *
  */
  /* line 175, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper {
    width: 100%;
  }
  /* line 177, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper h2 {
    color: #53cab5;
    padding: 5px;
  }
  /* line 181, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li {
    height: 10px;
  }
  /* line 183, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-title {
    position: absolute;
    left: 0px;
  }
  /* line 187, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating {
    position: absolute;
    right: 0px;
  }
  /* line 190, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating .glyphicon-star {
    color: #43baa5;
  }
  /* line 193, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating .glyphicon-star-empty {
    color: gray;
  }
  /* line 199, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
  }
  /* line 204, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key h2 {
    margin: 0;
    font-size: 15px;
  }
  /* line 211, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key #keys .key {
    font-size: 10px;
    width: 20%;
    float: left;
  }

  /*
  *
  *
  * top-nav.css.scss
  *
  *
  */
  /* line 230, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav {
    display: none;
  }
  /* line 232, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper {
    display: none;
  }
  /* line 234, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper a {
    display: none;
  }

  /*
  *
  *
  * parallax-nav.css.scss
  *
  *
  */
  /* line 248, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav {
    border: 1px solid blue;
    display: none;
  }
  /* line 251, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav ul.nav {
    display: none;
  }

  /*
  *
  *
  * form.css.scss
  *
  *
  */
  /* line 264, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container {
    background-color: #f4efe0;
    height: 100vh;
  }
  /* line 267, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  /* line 271, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #form-header {
    display: flex;
    flex: 1;
  }
  /* line 274, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #form-header h2 {
    margin: auto;
    color: #43baa5;
  }
  /* line 279, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #links {
    margin: auto;
    flex: 3;
    width: 250px;
  }
  /* line 283, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #links .contact-links {
    display: flex;
    height: 50px;
  }
  /* line 286, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #links .contact-links .fa {
    flex: 1;
    border-right: 2px solid #43baa5;
    font-size: 30px;
    margin-top: 12px;
  }
  /* line 292, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #form-container #form-content #links .contact-links .info {
    margin: auto;
    flex: 4;
  }
}
