/*
*
*  mobile
*
*/
@media screen and (max-width: 500px) and (min-width: 1px) {
  /*
  *
  *
  * custom.css.scss
  *
  *
  */
  /* line 17, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #about-container, #resume-container,
  #interests-container, #form-container {
    display: block;
    height: 130%;
    overflow: hidden;
  }

  /* line 28, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #about-content, #resume-content,
  #interests-content, #form-content {
    height: 80%;
    display: block;
    overflow: hidden;
  }

  /* line 35, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #about-header, #resume-header, #interests-header {
    background-image: none;
    background-color: black;
    height: 20%;
  }
  /* line 39, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #about-header h1, #resume-header h1, #interests-header h1 {
    font-size: 40px;
  }

  /* line 44, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container {
    background-image: url("craig-whitehead-260310.jpg");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* line 53, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #center_peice #title {
    font-size: 24px;
    color: blue;
    border: 1px solid blue;
  }
  /* line 59, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #main_buttons {
    display: none;
  }

  /*
  *
  *
  * profile.css.scss
  *
  *
  */
  /* line 77, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-content {
    background-image: url("jason-briscoe-152946.jpg");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * experience.css.scss
  *
  *
  */
  /* line 94, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #resume-content {
    background-image: url("jason-briscoe-152946.jpg");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * interests.css.scss
  *
  *
  */
  /* line 111, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #interests-content {
    background-image: url("jason-briscoe-152946.jpg");
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * top-nav.css.scss
  *
  *
  */
  /* line 128, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  /* line 133, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper {
    display: none;
  }
  /* line 135, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper a {
    display: none;
  }

  /*
  *
  *
  * parallax-nav.css.scss
  *
  *
  */
  /* line 149, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav {
    border: 1px solid blue;
    display: none;
  }
  /* line 152, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav ul.nav {
    display: none;
  }

  /*
  *
  *
  * form.css.scss
  *
  *
  */
}
