/*
*
*  mobile
*
*/
@media screen and (max-width: 991px) and (min-width: 1px) {
  /*
  *
  *
  * custom.css.scss
  *
  *
  */
  /* line 17, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .container {
    background-attachment: scroll;
    display: block;
  }

  /* line 22, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .content {
    text-align: center;
    display: block;
    overflow: hidden;
  }
  /* line 27, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .content ul li {
    list-style: none;
  }

  /* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .header {
    background-image: none;
    text-align: center;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  }
  /* line 36, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  .header h1 {
    font-size: 40px;
    color: #53cab5;
  }

  /* line 42, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container {
    background-image: url("nick-nice-328476.jpg");
    background-attachment: scroll;
    height: 100vh;
  }
  /* line 47, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #center_peice {
    margin-top: 40vh;
    text-align: center;
  }
  /* line 50, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #center_peice #title {
    font-size: 28px;
  }
  /* line 52, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #center_peice #title hr {
    border: 1px solid rgba(83, 202, 181, 0.4);
  }
  /* line 55, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #home-container #middle #center_peice #title #name {
    color: #53cab5;
  }

  /*
  *
  *
  * profile.css.scss
  *
  *
  */
  /* line 77, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-header h2 {
    font-size: 18px;
  }
  /* line 83, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper h3 {
    color: #53cab5;
  }
  /* line 90, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-pic #prof-pic {
    border-radius: 100%;
    border: 15px solid rgba(0, 0, 0, 0.3);
    margin: 5px;
  }
  /* line 98, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-info #info-text h6 {
    font-weight: bold;
  }
  /* line 101, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #about-container #about-content .content-wrapper #me-info #info-text ul {
    padding: 0;
  }

  /*
  *
  *
  * experience.css.scss
  *
  *
  */
  /* line 118, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container {
    background-color: #f4efe0;
  }
  /* line 125, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper h2 {
    color: #53cab5;
  }
  /* line 128, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table, #homepage #experience-container #experience-content .content-wrapper thead, #homepage #experience-container #experience-content .content-wrapper tbody, #homepage #experience-container #experience-content .content-wrapper th, #homepage #experience-container #experience-content .content-wrapper td, #homepage #experience-container #experience-content .content-wrapper tr {
    display: block;
  }
  /* line 131, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table {
    text-align: left;
  }
  /* line 133, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-title {
    line-height: 14px;
  }
  /* line 135, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-title .name {
    font-size: 20px;
    font-weight: 400;
  }
  /* line 148, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-content .info-title .intro {
    display: none;
  }
  /* line 152, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #experience-container #experience-content .content-wrapper table .row-content ul li {
    display: none;
  }

  /*
  *
  *
  * skills.css.scss
  *
  *
  */
  /* line 174, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper h2 {
    color: #53cab5;
    padding: 5px;
  }
  /* line 178, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li {
    height: 10px;
  }
  /* line 180, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-title {
    position: absolute;
    left: 0px;
  }
  /* line 184, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating {
    position: absolute;
    right: 0px;
  }
  /* line 187, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating .glyphicon-star {
    color: #43baa5;
  }
  /* line 190, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper ul li .ability-rating .glyphicon-star-empty {
    color: gray;
  }
  /* line 196, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
  }
  /* line 201, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key h2 {
    margin: 0;
    font-size: 15px;
  }
  /* line 206, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key #keys #one-star {
    margin-top: -14px;
  }
  /* line 209, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #skills-container #skills-content .content-wrapper #skill-key #keys .key {
    font-size: 10px;
    width: 20%;
    float: left;
  }

  /*
  *
  *
  * interests.css.scss
  *
  *
  */
  /* line 228, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #homepage #interests-container {
    background-color: #f4efe0;
  }

  /*
  *
  *
  * top-nav.css.scss
  *
  *
  */
  /* line 246, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav {
    display: static;
    border: 1px solid blue;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  /* line 254, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper {
    display: none;
  }
  /* line 256, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #nav .wrapper a {
    display: none;
  }

  /*
  *
  *
  * parallax-nav.css.scss
  *
  *
  */
  /* line 270, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav {
    border: 1px solid blue;
    display: none;
  }
  /* line 273, /Users/admin/PersonalSite/app/assets/stylesheets/mobile.css.scss */
  #parallax-nav ul.nav {
    display: none;
  }

  /*
  *
  *
  * form.css.scss
  *
  *
  */
}
