@media (pointer: fine) {
  /* line 4, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
  #parallax-nav a:hover .label {
    display: block;
    margin-left: -100px;
  }
  /* line 9, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
  #parallax-nav a:hover {
    font-size: 14px;
    color: #53cab5;
    text-decoration: none;
    background: none;
  }
}
/* line 18, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
#parallax-nav {
  position: fixed;
  z-index: 52;
  top: 50%;
  right: 15px;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
#parallax-nav a {
  display: block;
  color: white;
  margin: 0;
  padding: 10px 0 10px 15px;
  cursor: pointer;
  outline: 0;
}
/* line 41, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
#parallax-nav .label-container {
  position: relative;
  -webkit-transition: opacity .7s 0s ease-in-out;
  -moz-transition: opacity .7s 0s ease-in-out;
  -o-transition: opacity .7s 0s ease-in-out;
  transition: opacity .7s 0s ease-in-out;
}
/* line 49, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
#parallax-nav .label {
  display: none;
  position: absolute;
}
/* line 54, /Users/admin/PersonalSite/app/assets/stylesheets/parallax-nav.css.scss */
#parallax-nav .active a {
  color: #53cab5;
  background-color: transparent;
}
