/*
*  about section styles
*/
/* line 6, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container {
  background-image: url("ana-pavlyuk-420815.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 130%;
}

/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper {
  font-family: 'Montserrat', arial;
  text-align: center;
  vertical-align: middle;
}
/* line 28, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper h2 {
  padding-top: 20px;
}
/* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
  color: #53cab5;
}
/* line 38, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-pic {
  padding-left: 10px;
  display: inline-block;
  height: 100%;
  width: 34%;
  vertical-align: middle;
}
/* line 44, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-pic #prof-pic {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
  border-radius: 10px;
  box-shadow: 0px 0px 25px 1px #000;
  margin: 10px;
}
/* line 54, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph {
  display: inline-block;
  height: 100%;
  float: left;
  width: 33%;
  padding: 5px;
}
/* line 60, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph #me-text {
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 61, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph #me-text p {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 73, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info {
  display: inline-block;
  margin-top: 0px;
  padding-right: 10px;
  height: 100%;
  float: right;
  width: 33%;
}
/* line 80, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text {
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 85, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text ul {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 91, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text ul li {
  list-style: none;
}
