/*
*  about section styles
*/
/* line 7, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container {
  background-image: url("nate-grant-346782.jpg");
  height: 130%;
}

/* line 14, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper {
  font-family: 'Montserrat', arial;
  text-align: center;
  vertical-align: middle;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper h2 {
  padding-top: 20px;
}
/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
  color: #53cab5;
}
/* line 29, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-pic {
  order: 2;
  display: inline-block;
  height: 100%;
  width: 34%;
  vertical-align: middle;
  padding: 6px;
}
/* line 36, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-pic #prof-pic {
  width: 100%;
  position: relative;
  top: 35%;
  transform: translateY(-30%);
  border-radius: 100%;
  border: 15px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 25px 1px #000;
}
/* line 47, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph {
  order: 1;
  display: inline-block;
  height: 100%;
  float: left;
  width: 33%;
  padding: 10px;
}
/* line 54, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph #me-text {
  min-width: 200px;
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 55, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-paragraph #me-text p {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
  border: 1px solid green;
}
/* line 69, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info {
  order: 3;
  display: inline-block;
  margin-top: 0px;
  padding: 10px;
  height: 100%;
  float: right;
  width: 33%;
}
/* line 77, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text {
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 82, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text ul {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 88, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-content .content-wrapper #me-info #info-text ul li {
  list-style: none;
}
