/*
*  about section styles
*/
/* line 7, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container {
  margin: 0 auto;
  padding: 400px 0;
  color: black;
}
/* line 12, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-header .header-title {
  margin: auto 50px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 17, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-header .header-quote h4 {
  font-family: 'Montserrat', arial;
  font-size: 24px;
  border: none;
  margin-top: 10px;
}
/* line 26, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper {
  display: flex;
  font-family: 'Montserrat', arial;
  text-align: center;
  margin: auto 16%;
}
/* line 31, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper h2 {
  padding-top: 20px;
}
/* line 34, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
  color: #53cab5;
}
/* line 39, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-pic {
  flex: 1;
  order: 2;
  flex-basis: 20%;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}
/* line 46, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-pic #prof-pic {
  width: 80%;
  position: relative;
  top: 35%;
  transform: translateY(-30%);
  border-radius: 100%;
  border: 15px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 1px #000;
}
/* line 56, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-paragraph {
  flex: 1;
  order: 1;
  flex-basis: 20%;
  display: inline-block;
  float: left;
  padding: 10px;
}
/* line 63, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-paragraph #me-text {
  min-width: 200px;
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 69, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-paragraph #me-text p {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 76, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-info {
  flex: 1;
  order: 3;
  flex-basis: 20%;
  display: inline-block;
  margin-top: 0px;
  padding: 10px;
  float: right;
}
/* line 84, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-info #info-text {
  height: 420px;
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 89, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-info #info-text ul {
  position: relative;
  top: 35%;
  transform: translateY(-40%);
}
/* line 94, /Users/admin/PersonalSite/app/assets/stylesheets/profile.css.scss */
#about-container #about-content .content-wrapper #me-info #info-text ul li {
  list-style: none;
}
