/*
*  skills section styles
*/
/* line 5, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container {
  background-image: url("mike-wilson-138129.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 160%;
}

/* line 20, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-header {
  height: 25%;
}

/* line 24, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content {
  height: 75%;
  font-family: 'Montserrat', arial;
}
/* line 26, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .ability-rating {
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
}
/* line 37, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .ability-rating .glyphicon-star {
  color: white;
}
/* line 41, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .ability-rating .glyphicon-star-empty {
  color: #aaa;
  opacity: .6;
}
/* line 49, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper {
  padding-top: 10px;
}
/* line 51, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list {
  display: inline-block;
}
/* line 53, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 59, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 {
  text-align: center;
}
/* line 61, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li {
  padding: 10px;
  position: relative;
  list-style: none;
}
/* line 71, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 77, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 {
  text-align: center;
}
/* line 79, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li {
  padding: 10px;
  position: relative;
  list-style: none;
}
