/*
*  skills section styles
*/
/* line 8, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container {
  margin: 0 auto;
  padding: 620px 0;
  color: black;
}
/* line 13, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-header {
  height: 320px;
}
/* line 16, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content {
  margin-top: 320px;
  font-family: 'Montserrat', arial;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
/* line 23, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list {
  flex: 1.7;
  display: inline-block;
}
/* line 26, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 31, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 {
  text-align: center;
}
/* line 33, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li {
  padding: 10px;
  position: relative;
  list-style: none;
}
/* line 38, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 43, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating {
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 49, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star {
  color: black;
  width: 20px;
  letter-spacing: .1px;
}
/* line 54, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  width: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 64, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list {
  flex: 1;
  display: inline-block;
}
/* line 67, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 72, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 {
  text-align: center;
}
/* line 74, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li {
  letter-spacing: .1;
  padding: 10px;
  position: relative;
  list-style: none;
  display: inline;
}
/* line 80, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 85, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating {
  height: 28px;
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 91, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star {
  margin: 0;
  padding: 0;
  display: inline;
  color: black;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
}
/* line 100, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  margin: 0;
  padding: 0;
  display: inline;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 114, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key {
  flex: 1;
  width: inherit;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  text-align: center;
}
/* line 121, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key h2 {
  color: #53cab5;
  font-size: 24px;
  margin: 0;
}
/* line 126, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key .key {
  display: inline-block;
  width: 18%;
  margin: none;
  padding: none;
  font-size: 12px;
}
