/*
*  skills section styles
*/
/* line 5, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container {
  background-image: url("mike-wilson-138129.jpg");
  height: 160%;
}

/* line 13, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content {
  font-family: 'Montserrat', arial;
}
/* line 15, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper {
  padding-top: 10px;
}
/* line 17, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list {
  display: inline-block;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 25, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 {
  text-align: center;
}
/* line 27, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li {
  padding: 10px;
  position: relative;
  list-style: none;
}
/* line 32, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 38, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating {
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 44, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star {
  color: white;
  width: 20px;
  letter-spacing: .1px;
}
/* line 50, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  width: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 61, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list {
  display: inline-block;
}
/* line 63, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 69, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 {
  text-align: center;
}
/* line 71, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li {
  letter-spacing: .1;
  padding: 10px;
  position: relative;
  list-style: none;
  display: inline;
}
/* line 78, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 84, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating {
  height: 28px;
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 91, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star {
  margin: 0;
  padding: 0;
  display: inline;
  color: white;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
}
/* line 101, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  margin: 0;
  padding: 0;
  display: inline;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 115, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-key {
  color: #53cab5;
  width: inherit;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  text-align: center;
}
/* line 122, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-content .content-wrapper #skill-key .key {
  color: white;
  display: inline-block;
  width: 18%;
  margin: none;
  padding: none;
}
