/*
*  skills section styles
*/
/* line 5, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container {
  background-image: url("mike-wilson-138129.jpg");
  min-height: 160vh;
}
/* line 10, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content {
  font-family: 'Montserrat', arial;
}
/* line 12, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
/* line 16, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list {
  flex: 1.7;
  display: inline-block;
}
/* line 19, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 24, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 {
  text-align: center;
}
/* line 26, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li {
  padding: 10px;
  position: relative;
  list-style: none;
}
/* line 31, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 36, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating {
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 42, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star {
  color: white;
  width: 20px;
  letter-spacing: .1px;
}
/* line 47, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  width: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 57, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list {
  flex: 1;
  display: inline-block;
}
/* line 60, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list h2 {
  color: #53cab5;
  padding: 20px;
  border-bottom: 1px solid rgba(83, 202, 181, 0.2);
}
/* line 65, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 {
  text-align: center;
}
/* line 67, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li {
  letter-spacing: .1;
  padding: 10px;
  position: relative;
  list-style: none;
  display: inline;
}
/* line 73, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-title {
  float: left;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 78, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating {
  height: 28px;
  float: right;
  font-size: 20px;
  letter-spacing: .1px;
  width: 125px;
}
/* line 84, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star {
  margin: 0;
  padding: 0;
  display: inline;
  color: white;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
}
/* line 93, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #lang-list .col-md-6 ul li .ability-rating .glyphicon-star-empty {
  margin: 0;
  padding: 0;
  display: inline;
  width: 20px;
  height: 20px;
  letter-spacing: .1px;
  color: #aaa;
  opacity: .6;
}
/* line 107, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key {
  flex: 1;
  color: #53cab5;
  width: inherit;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  text-align: center;
}
/* line 115, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key h2 {
  font-size: 24px;
  margin: 0;
}
/* line 119, /Users/admin/PersonalSite/app/assets/stylesheets/skills.css.scss */
#skills-container #skills-content .content-wrapper #skill-key .key {
  color: white;
  display: inline-block;
  width: 18%;
  margin: none;
  padding: none;
  font-size: 12px;
}
