/*
*
*  top-navbar styling
*
*/
/* line 8, /Users/admin/PersonalSite/app/assets/stylesheets/top-nav.css.scss */
#logo {
  width: 80px;
  height: 80px;
  float: left;
}

/* line 15, /Users/admin/PersonalSite/app/assets/stylesheets/top-nav.css.scss */
#nav {
  background-color: transparent;
  border: none;
  transition: all 1s ease;
  padding: 5px 5px 0px 5px;
}

/* line 22, /Users/admin/PersonalSite/app/assets/stylesheets/top-nav.css.scss */
.wrapper {
  padding: 15px 15px 15px 15px;
  color: white;
  background-color: transparent;
}
