<div id="experience-header" class="header">
  <h1>Experience</h1>
</div>
<div id="experience-content" class="content">
  <div class="content-wrapper">
    <h2> Education </h2>
    <table id="education-table">
      <tr>
        <td> Bentley University </td>
        <td colspan="4">
          Major: Economics & Finance </br>
          Minor: Computer Information Systems </br>
          Relavent Coursework:
          <ul>
            <li> CS213 - Web Design </li>
            <li> CS180 - Programming Fundamentals </li>
            <li> CS280 - Object Oriented Development</li>
            <li> CS150 - Data and Information Management</li>
            <li> CS240 - Networking & Communication Infrastructure</li>
          </ul>
        </td>
      </tr>
    </table>
    <h2> Employment History </h2>
    <table id="job-table">
      <tr>
        <td> Office of Undergraduate Admissions</td>
        <td colspan="4">
          Campus Ambassador
        </td>
      </tr>
      <tr>
        <td> Equivest Asset Management </td>
        <td colspan="4">
          Financial Analyst Intern
        </td>
      </tr>
    </table>
  </div>
</div>
