<div id="experience-header" class="header">
  <div class="header-title">
    <h1>Experience</h1>
  </div>
  <div class="header-quote">
    <h4> <blockquote>"Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul be strengthened, ambition inspired, and success achieved."</blockquote> - Helen Keller</h4>
  </div>
</div>
<div id="experience-content" class="content">
  <div class="content-wrapper">
    <h2> Education </h2>
    <table id="education-table">
      <tr>
        <td class="row-title"> <span class="name">Bentley University</span> </br><hr><span class="date"> Aug 2013 - May 2017 </span></td>
        <td class="row-content" colspan="4">
          <span class="info-title">Major: Economics & Finance </br>
          Minor: Computer Information Systems </span></br>
          Relavent Coursework:
          <ul>
            <li> CS213 - Web Design </li>
            <li> CS180 - Programming Fundamentals </li>
            <li> CS280 - Object Oriented Development</li>
            <li> CS150 - Data and Information Management</li>
            <li> CS240 - Networking & Communication Infrastructure</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="row-title"> <span class="name">The Odin Project</span></br><hr><span class="date"> Dec 2016 - Dec 2017 </span></td>
        <td class="row-content" colspan="4">
          <span class="info-title">Open source web development course based on Ruby on Rails </span> </br>
          Skills developed:
          <ul>
            <li> Source Control (GIT) </li>
            <li> Deployment (Heroku)</li>
            <li> API's and passing data in different ways</li>
            <li> MVC pattern </li>
            <li> Cookies and Sessions </li>
            <li> Encryption and two factor authentication </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="row-title"> <span class="name">CS50 & EdX</span> </br><hr><span class="date"> Jun 2016 - Aug 2016 </span></td>
        <td class="row-content" colspan="4">
          <span class="info-title">Introduction to computer science course from Harvard</span> </br>
          What I learned:
          <ul>
            <li> Minimizing time and space complexity with algorithms and data structures </li>
            <li> Compilers and Natural Language processing </li>
            <li> Programming in C and manually allocating memory </li>
            <li> That I love Computer Science! </li>
          </ul>
        </td>
      </tr>
    </table>
    <h2> Employment History </h2>
    <table id="job-table">
      <tr>
        <td class="row-title"> <span class="name"> Office of Undergraduate Admissions</span> </br><hr><span class="date"> Jan 2016 - May 2017 </span></td>
        <td class="row-content" colspan="4">
          <span class="info-title">Campus Ambassador</span> </br>
          <ul>
            <li> Tended to perspective students visiting Bentley's campus </li>
            <li> Planned, Prepared and executed multiple open house events </li>
            <li> Gave campus tours to highlight the strengths of the university </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="row-title"> <span class="name">Equivest Asset Management</span> </br><hr><span class="date"> Jun 2015 - Aug 2015 </span></td>
        <td class="row-content" colspan="4">
          <span class="info-title">Financial Analyst Intern</span>
          <ul>
            <li> Calculated relevant valuations for prospective investments </li>
            <li> Modeled financial data using excel </li>
            <li> Went to shareholder meetings to gather relevant company updates </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
