#experience-header.header
  .header-title
    %h1 Experience
  .header-quote
    %h4
      %blockquote "Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul be strengthened, ambition inspired, and success achieved."
      \- Helen Keller
#experience-content.content
  .content-wrapper
    #education
      %h2 Education
      %table#education-table
        %tr.card
          %td.row-title.front#bentley
            %span.name
              Bentley University
            %br
            %span.date Aug 2013 - May 2017
          %td.back.row-content{:colspan => "4"}
            %span.info-title
              Major: Economics and Finance
              %br
              Minor: Computer Information Systems
              %br
              %span.intro Relavent Coursework:
            %ul
              %li CS213 - Web Design
              %li CS180 - Programming Fundamentals
              %li CS280 - Object Oriented Development
              %li CS150 - Data and Information Management
              %li CS240 - Networking  Communication Infrastructure
        %tr.card
          %td.row-title.front#odin
            %span.name
              The Odin Project
            %br
            %span.date Dec 2016 - Dec 2017
          %td.back.row-content{:colspan => "4"}
            %span.info-title
              Open source web development course based on Ruby on Rails
              %br
              %span.intro Skills developed:
            %ul
              %li Ruby & Ruby on Rails
              %li Version Control (GIT)
              %li Deploying with Heroku
              %li API's and passing data
              %li MVC pattern
              %li Cookies and Sessions
              %li Encryption and authentication
        %tr.card
          %td.row-title.front#cs50
            %span.name
              CS50  EdX
            %br
            %span.date Jun 2016 - Aug 2016
          %td.back.row-content{:colspan => "4"}
            %span.info-title
              Introduction to computer science course from Harvard
              %br
              %span.intro What I learned:
            %ul
              %li Minimizing time and space complexity with algorithms and data structures
              %li Compilers and Natural Language processing
              %li Programming in C and manually allocating memory
              %li That I love Computer Science!
    #jobs
      %h2 Employment History
      %table#job-table
        %tr.card
          %td.row-title.front#uga
            %span.name Office of Undergraduate Admissions
            %br
            %span.date Jan 2016 - May 2017
          %td.back.row-content{colspan: "4"}
            %span.info-title Campus Ambassador
            %ul
              %li Tended to perspective students visiting Bentley's campus
              %li Planned, Prepared and executed multiple open house events
              %li Gave campus tours to highlight the strengths of the university
        %tr.card
          %td.row-title.front#equivest
            %span.name Equivest Asset Management
            %br
            %span.date Jun 2015 - Aug 2015
          %td.back.row-content{colspan: "4"}
            %span.info-title Financial Analyst Intern
            %ul
              %li Calculated relevant valuations for prospective investments
              %li Modeled financial data using excel
              %li Went to shareholder meetings to gather relevant company updates

:javascript
  $(".card").flip();
