#interests-header.header
  .header-title
    %h1 Interests
  .header-quote
    %h4
      %blockquote "We cannot waste time. We can only waste ourselves."
      \- George Matthew Adams
#interests-content.content
  .content-wrapper
    .interest#sports
      #sport-pic= image_tag 'interest-sports.jpg', id: 'sport-image', height: 150 
      #sport-text i like sports
    .interest#music
      #music-pic
      #music-text music is listened to by me
    .interest#learning
      #learning-pic
      #learning-text edumacation is dope
    .interest#travel
      #travel-pic
      #travel-text gotta diversify ya world view
