<div id="interests-header" class="header">
  <div class="header-title">
    <h1>Interests</h1>
  </div>
  <div class="header-quote">
    <h4><blockquote>"We cannot waste time. We can only waste ourselves."</blockquote> - George Matthew Adams</h4>
  </div>
</div>
<div id="interests-content" class="content">
  <div class="content-wrapper">
    <div id="interest-1">
      <div class="eyeball"></div>
    </div>
    <div id="interest-2">
      <div class="eyeball"></div>
    </div>
  </div>
</div>
