#interests-header.header
  .header-title
    %h1 Interests
  .header-quote
    %h4
      %blockquote "We cannot waste time. We can only waste ourselves."
      \- George Matthew Adams
#interests-content.content
  .content-wrapper
    %table
      %tr.interest#sports
        %td#sport-pic= image_tag 'interest-sports.jpg', id: 'sport-image', height: 150
        %td#sport-text{:colspan => 4} i like sports
      %tr.interest#music
        %td#music-text{:colspan => 4} music is listened to by me
        %td#music-pic= image_tag 'interest-music.jpg', id: 'music-image', height: 150
      %tr.interest#learning
        %td#learning-pic= image_tag 'interest-learning.png', id: 'learning-image', height: 150
        %td#learning-text{:colspan => 4} edumacation is dope
      %tr.interest#travel
        %td#travel-text{:colspan => 4} gotta diversify ya world view
        %td#travel-pic= image_tag 'interest-travel.jpg', id: 'travel-image', height: 150
