#interests-header.header
  .header-title
    %h1 Interests
  .header-quote
    %h4
      %blockquote "We cannot waste time. We can only waste ourselves."
      \- George Matthew Adams
#interests-content.content
  .content-wrapper
    %table
      %tr.interest#sports

      %tr.interest#music

      %tr.interest#learning

      %tr.interest#travel
        
