#home-content
  #center_peice
    %h1#title
      #name ATISH PATEL
      %hr/
      DEVELOPER
  %button#homebutton
    %span.glyphicon.glyphicon-chevron-down#arrow

:javascript
  $("#homebutton").click(function() {
      $('html,body').animate({
          scrollTop: $("#about-container").offset().top},
          'slow');
  });
