#about-header.header
  .header-title
    %h1 Profile
  %br
  .header-quote
    %h4 Hi! I'm a Ruby on Rails Developer!
#about-content.content
  .content-wrapper
    #me-paragraph
      #me-text
        %h3 About Me
        %p
          I am an full stack web developer, with extensive knowledge of front-end
          technologies. I love structure and order and I stand for quality. I
          love spending time on fixing little details and optimizing web applications.
          I also enjoy working with, and learning from others because it is the best
          way to attain new skills and polish existing ones.
    #me-pic
      = image_tag("/assets/IMG_0043.JPG", size: "260x240", id: "prof-pic")
    #me-info
      #info-text
        %h3 Information
        %ul
          %h6 Name:
          %li Atish Patel
          %h6 Age:
          %li 22
          %h6 Location:
          %li Brighton, MA
          %h6 Hometown:
          %li Harare, Zimbabwe
