<div id="about-header" class="header">
  <h1>Profile</h1>
</div>

<div id="about-content" class="content">
  <div class="content-wrapper">
    <h2> Hi! I'm a Ruby on Rails Developer! </h2>
    <div id="me-paragraph">
      <div id="me-text">
        <h3> About Me </h3>
        <p>
          A bunch of my story stuff
        </p>
      </div>
    </div>
    <div id="me-pic">
      <%= image_tag("/assets/IMG_0043.JPG", size: "260x240", id: "prof-pic") %>
    </div>
    <div id="me-info">
      <div id="info-text">
        <h3> Information </h3>
        <ul>
          <h6> Name: </h6>
          <li> Atish Patel </li>
          <h6> Age: </h6>
          <li> 22 </li>
          <h6> Location: </h6>
          <li> Brighton, MA </li>
          <h6> Hometown: </h6>
          <li> Harare, Zimbabwe </li>
        </ul>
      </div>
    </div>
  </div>
</div>
