<div id="projects-header" class="header">
  <h1>Projects</h1>
</div>
<div id="projects-content" class="content">
  <div class="content-wrapper">
    <div id="project-1"></div>
    <div id="project-2"></div>
  </div>
</div>
