
<div id="container">
  <nav id="nav" class="navbar navbar-toggleable-* navbar-light bg-faded">
    <ul>
      <li><button id="button" type="button" class="btn btn-default"> Contact </button></li>
      <li>Resume</li>
      <li>Projects</li>
      <li>Hi!</li>
    </ul>
  </nav>
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"> DEVELOPER. </h1>
    </div>

    <div id="main_buttons">
      <button id="button" type="button" class="btn btn-default"> Resume </button>
      <button id="button" type="button" class="btn btn-default"> Contact </button>
    </div>
  </div>










</div>





<% render 'form', contact: @contact %>

<% link_to 'Back', contacts_path %>
