
<div id="home-container">
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"> DEVELOPER. </h1>
    </div>

    <div id="main_buttons">
      <button class="all_button" type="button" class="btn btn-default"> Resume </button>
      <button class="all_button" type="button" class="btn btn-default"> Contact </button>
    </div>
  </div>
</div>

<div id="about-container">
  <div id="about-content">
  my about page
  </div>
</div>

<div id="resume-container">
  <div id="resume-content">
  my resume page
  </div>
</div>

<div id="projects-container">
  <div id="projects-content">
  my projects page
  </div>
</div>

<div id="form-container">
  <div id="form-content">
  <%= render 'form', contact: @contact %>
  </div>
</div>






<% link_to 'Back', contacts_path %>
