#home-container.container
  #middle
    #center_peice
      %h1#title
        #name ATISH PATEL
        %hr/
        DEVELOPER
#about-container.container
  = render 'contacts/profile'
#experience-container.container
  = render 'contacts/experience'
#skills-container.container
  = render 'contacts/skills'
#form-container.container
  = render 'contacts/form'

//= render 'form', contact: @contact
//#footer
//= render 'layouts/footer'
