
<div id="home-container" class="container">
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"> DEVELOPER. </h1>
    </div>

    <div id="main_buttons">
      <button class="all_button" type="button" class="btn btn-default"> Resume </button>
      <button class="all_button" type="button" class="btn btn-default"> Contact </button>
    </div>
  </div>
</div>

<div id="about-container" class="container">
  <div id="about-header" class="header">
    <h1>Profile</h1>
  </div>
  <div id="about-content" class="content">
  </div>
</div>

<div id="experience-container" class="container">
  <div id="experience-header" class="header">
    <h1>Experience</h1>
  </div>
  <div id="experience-content" class="content">
  </div>
</div>

<div id="skills-container" class="container">
  <div id="skills-header" class="header">
    <h1>Skills</h1>
  </div>
  <div id="skills-content" class="content">
  </div>
</div>

<div id="projects-container" class="container">
  <div id="projects-header" class="header">
    <h1>Projects</h1>
  </div>
  <div id="projects-content" class="content">
  </div>
</div>

<div id="form-container" class="container">
  <div id="form-content" class="content">
    <h1> You know what to do <span class="glyphicon glyphicon-hand-down"> </span> </h1>
    <%= render 'form', contact: @contact %>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</div>
