
<div id="home-container">
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"> DEVELOPER. </h1>
    </div>

    <div id="main_buttons">
      <button class="all_button" type="button" class="btn btn-default"> Resume </button>
      <button class="all_button" type="button" class="btn btn-default"> Contact </button>
    </div>
  </div>
</div>

<div id="about-container">
  <h1>My Story</h1>
  <div id="about-content">
  </div>
</div>

<div id="resume-container">
  <h1>Resume</h1>
  <div id="resume-content">
  </div>
</div>

<div id="projects-container">
  <h1>Projects</h1>
  <div id="projects-content">
  </div>
</div>

<div id="form-container">
  <div id="form-content">
  <%= render 'form', contact: @contact %>
  </div>
  <div id="footer">
    <h6> i am footer </h6>
  </div>
</div>
