
<div id="container">
  <div id="middle">
    <div id="center_peice">
        <h1 id="title"> DEVELOPER. </h1>
    </div>

    <div id="main_buttons">
      <button class="all_button" type="button" class="btn btn-default"> Resume </button>
      <button class="all_button" type="button" class="btn btn-default"> Contact </button>
    </div>
  </div>
</div>





<% render 'form', contact: @contact %>

<% link_to 'Back', contacts_path %>
