/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *../images/kari-shea-272383.jpg
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/*
* full page styles
*
*/

$body-bg: transparent;

body, html {
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

#error_explanation {
  color: white;
}

#home-container, #about-container, #resume-container, #projects-container, #form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

#about-container, #resume-container, #projects-container, #form-container {
    height: 150%;
    box-shadow: 0px -5px 50px 5px black;
    h1 {
      font-size: 80px;
      font-weight: bold;
      color: #53cab5;
      font-family: 'Nothing You Could Do', cursive;
      position: absolute;
      top: 15%;
    }
}

#about-content, #resume-content, #projects-content, #form-content {
    height: 60%;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.all_button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 18px;
    border: 1px solid #53cab5;
    border-radius: 10px;
    font-weight: normal;
    width: 120px;
    height: 50px;
}

/*
*
*  main section styles
*/
#homepage {
    background-image: url("kelly-sikkema-450720.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#center_peice {
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
}

#title {
    font-family: 'Nothing You Could Do', cursive;
    width: 100%;
    font-weight:bold;
    vertical-align: middle;
    display: block;
    font-size: 38px;
    letter-spacing: 10px;
    color: white;
}

#middle {
  width: 100%;
  text-align: center;
}

#main_buttons {
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

/*
*  about section styles
*/

#about-container {
  background-image: url("ana-pavlyuk-420815.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-content {

}

/*
*  resume section styles
*/
#resume-container {
    background-image: url("elijah-flores-99207.jpg");
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*
*  projects section styles
*/

#projects-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*
*  form section styles
*/


#form-container {
  height: 100%;
  background-color: #222;
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#form-content {
  position: absolute;
  top: 0px;
  height: 85%;

  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 15%;
}

form {
    position: relative;
    color: black;
    height: 100%;
    vertical-align: middle;
    padding-top: 20px;

    .field {
      padding: 30px;
      font-size: 24px;
      vertical-align: middle;
    }
}

/*
*
*  navbar styling
*
*/


#nav {
  background-color: transparent;
  border: none;
  transition: all 1s ease;
  padding: 5px 5px 0px 5px;
}

.wrapper {
  padding: 15px 15px 15px 15px;
  color: white;
  background-color: transparent;
}

#parallax-nav {
  position: fixed;
  z-index: 52;
  top: 50%;
  right: 15px;
  padding: 0 10px 0 0;
  -webkit-transform: translate3d(0,-50%,0);
  -moz-transform: translate3d(0,-50%,0);
  -ms-transform: translate3d(0,-50%,0);
  -o-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);

  a {
    display: block;
    color: white;
    margin: 0;
    padding: 10px 0 10px 15px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: color .7s 0s ease-in-out;
    -moz-transition: color .7s 0s ease-in-out;
    -o-transition: color .7s 0s ease-in-out;
    transition: color .7s 0s ease-in-out;
  }

  a:hover {
    color: #53cab5;
    text-decoration: none;
    background: none;
  }

  .label-container {
    position: relative;
    -webkit-transition: opacity .7s 0s ease-in-out;
    -moz-transition: opacity .7s 0s ease-in-out;
    -o-transition: opacity .7s 0s ease-in-out;
    transition: opacity .7s 0s ease-in-out;
  }

  .label {
    display: none;
    position: absolute;
  }

  a:hover .label {
    display: block;
    margin-left: -100px;
  }

  .active a {
    color: #53cab5;
    background-color: transparent;
  }
}


#main_contact {
    margin-top: 4px;
    float: right;
}

#logo {
    width: 80px;
    height: 80px;
    float: left;
}

/*
*
*  mobile
*
*/
@media screen and (max-width: 425px) {

#parallax-nav {
  display: none;
}

}
