/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *../images/kari-shea-272383.jpg
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/*
* full page styles
*
*/

$body-bg: transparent;

body, html {
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

#home-container, #about-container, #resume-container, #projects-container, #form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

#about-container, #resume-container, #projects-container, #form-container {
    height: 150%;
    box-shadow: 0px -5px 50px 5px black;
}

#about-content, #resume-content, #projects-content, #form-content {
    height: 60%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
}

.all_button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: normal;
    width: 20vh;
    height: 7vh;
}

/*
*
*  main section styles
*/
#homepage {
    background-image: url("kelly-sikkema-450720.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#center_peice {
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
}

#title {
    font-family: 'Nothing You Could Do', cursive;
    width: 100%;
    font-weight:bold;
    vertical-align: middle;
    display: block;
    font-size: 38px;
    letter-spacing: 10px;
    color: white;
}

#middle {
  width: 100%;
  text-align: center;
}

#main_buttons {
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

/*
*  about section styles
*/

#about-container {
  background-image: url("ana-pavlyuk-420815.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-content {

}

/*
*  resume section styles
*/
#resume-container {
    background-image: url("elijah-flores-99207.jpg");
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*
*  projects section styles
*/

#projects-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*
*  form section styles
*/


#form-container {
  background-color: #222;
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#form-content {
  height: 85%;
}

form {
    color: black;
}

/*
*
*  navbar styling
*
*/


#nav {
  background-color: transparent;
  border: none;
  transition: all 1s ease;
  padding: 5px 5px 0px 5px;
}

.wrapper {
  padding: 15px 15px 15px 15px;
  color: white;
  background-color: transparent;
}

.nav li {
  font-size: 18px;
  letter-spacing: 7px;
  height: 100%;
  vertical-align: middle;
  margin-left: 11px;
  color: white;
  height: 7vh;
  padding: 5px;
}

#main_contact {
    margin-top: 4px;
}

#logo {
    width: 80px;
    height: 80px;
    float: left;
}

/*
*
*  mobile
*
*/
@media screen and (max-width: 768px) {

.burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url(hamburger.png) no-repeat 98% center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: blue;
    color: white;
    float: right;
    border: 1px solid green;
}

nav {
    height: 100%;
    border: 1px solid blue;
    float: right;
    background-color: #222;
    width: 80%;
}

nav ul {
    overflow: hidden;
    //height: 0px;
    border: 1px solid purple;
}

nav ul.open {
    height: auto;
}

nav ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
}

nav ul li a {
    padding: 10px;
    border-bottom: 1px solid black;
    display: block;
}

}
