/*
* full page styles
*/

$body-bg: transparent;

html{
  height: 100%;
  body {
    height: 100%;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    #homepage {
      display: flex;
      flex-flow: column;
      background-image: url("kelly-sikkema-450720.jpg");

      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
  }
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-container,#experience-container,
#form-container, #skills-container {
    width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
    z-index: 45;
    box-shadow: 0px -5px 50px 5px black, 0px 5px 50px 5px black;
    text-align: center;

    h1 {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-size: 80px;
      font-weight: normal;
      color: #53cab5;
      font-family: 'Handlee', cursive;
    }

    .header-title {
      height: 40%;
      text-align: center;
      h1 {
        position: relative;
        width: 70%;
        bottom: 0px;
        top: 0px;
        margin: 25px auto;
        vertical-align: middle;
        display: block;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
      }
    }
    .header-quote {
      height: 60%;
      h4 {
        font-family: 'Handlee', cursive;
        border-top: 1px solid rgba(83, 202, 181, .2);
        vertical-align: middle;
        display: block;
        position: relative;
        bottom: 0px;
        margin: auto;
        width: 70%;
        blockquote {
          font-weight: 100;
          font-size: 29px;
          font-family: 'Tangerine', cursive;
          font-style: italic;
          text-decoration: none;
        }
      }
    }
}

.content {
    display: flex;
    width: 100%;
    position: absolute;
    margin-top: 300px;
    top: 0px;
    bottom: 0px;
    left: 0px;

    background: url("no-pencil.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .content-wrapper {
      margin-top: 5px;
      margin-right: 15vw;
      margin-left: 15vw;
      height: 100%;
    }
}

.all_button {
    box-shadow: 2px 2px 5px #53cab5;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 18px;
    border: 1px solid #53cab5;
    border-radius: 10px;
    font-weight: normal;
    width: 120px;
    height: 50px;

    &:hover {
      box-shadow: 4px 4px 10px #53cab5;
      margin-top: -2px;
      margin-left: -2px;
    }
}

/*footer*/

#footer {
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;

  #footer-links {
    vertical-align: middle;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    float: right;


    .fa {
      padding: 20px;
      font-size: 22px;
      width: 65px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
  }
}

#error_explanation {
  color: white;
}
