/*
* full page styles
*/

$body-bg: transparent;

body, html {
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

#error_explanation {
  color: white;
}

#home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

#about-container,
#experience-container, #interests-container,
#form-container, #skills-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30%;
    width: 100%;
    z-index: 45;
    box-shadow: 0px -5px 50px 5px black, 0px 5px 50px 5px black;
    text-align: center;

    h1 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-size: 80px;
      font-weight: normal;
      color: #53cab5;
      font-family: 'Handlee', cursive;
    }
}

.content {
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;

    background: url("no-pencil.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .content-wrapper {
      margin-right: 152px;
      margin-left: 152px;
      height: 100%;
    }
}

.all_button {
    box-shadow: 2px 2px 5px #53cab5;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 18px;
    border: 1px solid #53cab5;
    border-radius: 10px;
    font-weight: normal;
    width: 120px;
    height: 50px;

    &:hover {
      box-shadow: 4px 4px 10px #53cab5;
      margin-top: -2px;
      margin-left: -2px;
    }
}


/*
*
*  main section styles
*/
#homepage {
    background-image: url("kelly-sikkema-450720.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#center_peice {
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 50%;
    border: 1px solid red;

    #title {
        border: 1px solid green;
        font-family: 'Handlee', cursive;
        width: 100%;
        font-weight:bold;
        vertical-align: middle;
        display: block;
        font-size: 38px;
        letter-spacing: 10px;
        color: white;
        #name {
          font-family: 'Montserrat', sans-serif;
          border-bottom: 1px solid rgba(255,255,255,.1);
        }
    }
}



#middle {
  width: 100%;
  text-align: center;
}

#main_buttons {
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

/*footer*/

#footer {
  position: absolute;
  bottom: 0;
  height: 15%;

  #footer-links {
    vertical-align: middle;
    position: relative;
    margin-top: 12px;
    margin-right: 25px;
    float: right;


    .fa {
      padding: 20px;
      font-size: 22px;
      width: 65px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    .fa-instagram {
      background: #125688;
      color: white;
    }
  }
}
