/*
*  experience section styles
*/
#experience-container {
    background-image: url("elijah-flores-99207.jpg");
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 150%;
}

#experience-content {
  border: 1px solid blue;

  h2 {
    border: 1px solid purple;
    color: #53cab5;
  }

  table {
    width: 100%;
  }

  td {
    border: 1px solid yellow;
    text-align: center;
  }


}
