//variables
$accent-green: #53cab5;
//experience section styles

#experience-container {
  margin: 0 auto;
  padding: 840px 0;
  display: flex;
  color: black;
  #experience-header {
    height: 320px;
    margin: auto;
    flex: 1;
    order: 1;
  }
  #experience-content {
    margin: auto;
    flex: 1;
    order: 2;
    font-family: 'Montserrat', arial;
    font-weight: 100;
    margin-top: 310px;
    .content-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      #education {
        margin: auto;
        flex: 1;
        h2 {
          color: $accent-green;
          padding: 20px;
          border-bottom: 1px solid rgba(83, 202, 181, .2);
        }
      }
      #jobs {
        margin: auto;
        flex: 1;
        h2 {
          color: $accent-green;
          padding: 20px;
          border-bottom: 1px solid rgba(83, 202, 181, .2);
        }
      }

      table {
        border-collapse: separate;
        border-spacing: 0px 30px;
        width: 100%;
        .row-title {
          text-align: center;
          vertical-align: middle;
          display: flex;
          flex-direction: column;
          .name {
            margin: auto;
            font-size: 16px;
            font-weight: bold;
            width: 300px;
          }
          .date {
            margin: auto;
            font-size: 13px;
            font-weight: normal;
            font-family: 'Inconsolata', monospace;
          }
        }
        .row-content {
          margin: auto;
          padding: 0 20px;
          font-size: 18px;
          letter-spacing: 1px;
          font-family: 'Montserrat', arial;
          .info-title {
            font-family: 'Montserrat', arial;
            font-size: 20px;
            font-weight: bold;
          }
          ul li {
            text-align: center;
            list-style: none;
          }
        }
      }
    }
  }
}
