/*
*  form section styles
*/



#form-container {
  background-image: url("no-pencil.png");
  height: 100vh;
  #form-content {
    background-color: black;
    background-image: none;
    box-shadow: 0 0 5px 10px #222;
    font-family: 'Montserrat', arial;
    display: flex;
    flex-direction: column;
    height: 80%;
    top: 0;
    margin: 0 45px;
    position: relative;
    text-align: center;
    #form-header {
      flex: 1;
      display: flex;
      width: 100%;
      h2{
        margin: auto;
        color: #43baa5;
        font-size: 60px;
      }
    }
    #links {
      display: flex;
      flex: 3;
      #center {
        width: 60%;
        margin: auto;
        .contact-links {
          height: 60px;
          display: flex;
          .fa {
            flex: 1;
            border-right: 2px solid #43baa5;
            font-size: 45px;
          }
          .info {
            flex: 4;
            font-size: 24px;
            //border: 1px solid purple;
          }
        }
      }
    }
  }
}
