/*
*  interests section styles
*/

#interests-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 180%;

  margin-bottom: -300px;
}

#interests-header {
  height: 25%;
}

#interests-content {
  height: 75%;
  border: 1px solid blue;
  .content-wrapper {
    border: 1px solid red;
    display:block;
    overflow:auto;
    .interest {
      height: 160px;
      border: 1px solid purple;
    }
  }
}
