/*
*  interests section styles
*/

#interests-container {
  background-image: url("ana-pavlyuk-420815.jpg");
  height: 180%;

}

#interests-header {

}

#interests-content {
  .content-wrapper {
    width: 100%;
    table {
      width: 100%;
      height: 100%;
      tr {
        td {
          border: 1px solid green;
        }
      }
    }

  }
}
