#home-container {
  min-height: 100vh;
  display: flex;
    #center_peice {
      text-align: center;
      width: 500px;
      display: block;
      #title {
        color: #ffffff;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        vertical-align: middle;
        font-size: 38px;
        letter-spacing: 10px;
        width: 100%;
        hr {
          opacity: 0.2;
          border-color: #53cab5;
        }
        #name {
          font-family: 'Montserrat', sans-serif;
          color: #53cab5;
        }
      }
    }
}
