/*
*
*  mobile
*
*/

@media (aspect-ratio: 1/1)  {

  #about-container, #resume-container,
  #interests-container, #form-container {
    display: block;
    height: 130%;
    overflow: hidden;
  }

  #about-content, #resume-content, #interests-content {

  }

  #about-content, #resume-content,
  #interests-content, #form-content {
    height: 80%;
    display: block;
    overflow: hidden;
  }

  #about-header, #resume-header, #interests-header {
    background-image: none;
    background-color: black;
    height: 20%;
    h1 {
      font-size: 40px;
    }
  }

  #home-container {
    background-image: url("craig-whitehead-260310.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #homepage #about-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #homepage #resume-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #homepage #interests-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  #main_buttons, #main_contact {
    display: none;
  }

  #title {
    font-size: 24px;
  }
}
