/*
*
*  mobile
*
*/

@media (aspect-ratio: 1/1)  {

  /*
  *
  *
  * custom.css.scss
  *
  *
  */
  div#about-container, div#resume-container,
  div#interests-container, div#form-container {
    display: block;
    height: 130%;
    overflow: hidden;
  }

  #about-content, #resume-content, #interests-content {

  }

  div#about-content, div#resume-content,
  div#interests-content, div#form-content {
    height: 80%;
    display: block;
    overflow: hidden;
  }

  div#about-header, div#resume-header, div#interests-header {
    background-image: none;
    background-color: black;
    height: 20%;
    h1 {
      font-size: 40px;
    }
  }

  div#home-container {
    background-image: url("craig-whitehead-260310.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    div#middle {
      div#center_peice {
        h1#title {
          font-size: 24px;
          color: blue;
        }
      }
      div#main_buttons {
        display: none;
      }
    }
  }





  /*
  *
  *
  * profile.css.scss
  * 
  *
  */

  #homepage #about-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * experience.css.scss
  *
  *
  */

  #homepage #resume-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * interests.css.scss
  *
  *
  */

  #homepage #interests-content {
    background-image: url("jason-briscoe-152946.jpg");

    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  *
  *
  * top-nav.css.scss
  *
  *
  */

#nav {
  position: absolute;
  top: 0px;
  left: 0px;

  .wrapper {
    a {
      display: none;
    }
  }
}

  /*
  *
  *
  * parallax-nav.css.scss
  *
  *
  */

#parallax-nav {
  display: none;
}

  /*
  *
  *
  * form.css.scss
  *
  *
  */


}
