
//mobile
@media screen and (max-width: 990px) and (min-width: 1px) {

  //custom.css.scss

  .container {
    background-attachment: scroll;
    display: block;
    margin: 0;
  }
  .content {
    display: flex;
    overflow: hidden;
    text-align: center;
    padding: 0;
    ul li {
      list-style: none;
    }
  }

  .header {
    background-image: none;
    border-bottom: 1px solid rgba(10, 10, 10, .2);
    text-align: center;
    h1 {
      font-size: 40px;
      color: #53cab5;
    }
  }

  *:focus {
    outline: 0 !important;
  }

//landing page mobile styles
  #home-container {
    background-attachment: scroll;
    background-image: url('yousif-malibiran-182543.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 0;
    height: 100vh;
    width: 100%;
    #home-content {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      height: 100%;
      width: 100%;
      #center_peice {
        margin: auto;
        text-align: center;
        h1#title {
          color: white;
          letter-spacing: 3px;
          hr {
            border: 1px solid rgba(83, 202, 181, .4);
          }
          #name {
            color: #53cab5;
          }
        }
      }
      button {
        background-color: black;
        position: absolute;
        bottom: 0px;
        border: 0;
        height: 80px;
        width: 100%;
        .glyphicon {
          font-size: 40px;
          color: white;
        }
      }
    }
  }





  /*
  *
  *
  * profile.css.scss
  *
  *
  */

  #homepage #about-container {
    #about-header {
      h2 {
        font-size: 18px;
      }
    }
    #about-content{
      .content-wrapper{
        h3{
          color: #53cab5;
        }
        #me-paragraph{
        }
        #me-pic{
          #prof-pic {
            border-radius: 100%;
            border: 15px solid rgba(0,0,0,.3);
            margin: 5px;
          }
        }
        #me-info{
          #info-text{
            h6 {
              font-weight: bold;
            }
            ul {
              padding: 0;
            }
          }
        }
      }
    }
  }

  /*
  *
  *
  * experience.css.scss
  *
  *
  */

  #homepage #experience-container {
    background-color: #f4efe0;
    #experience-header {
    }
    #experience-content{
      .content-wrapper{
        width: 100%;
        h2 {
          color: #53cab5;
        }
        table, thead, tbody, th, td, tr {
      		display: block;
      	}
        table {
          text-align: left;
          .row-title{
            line-height: 14px;
            margin: 30px 0 7px 0;
            .name {
              font-size: 20px;
              font-weight: 400;
            }
            .date {
              margin-top: 4px;
            }
          }
          .row-content {

            .info-title{
              .intro {
                display: none;
              }
            }
            ul li {
              display: none;
            }
          }
        }
      }
    }
  }

  /*
  *
  *
  * skills.css.scss
  *
  *
  */
  #homepage #skills-container {
    #skills-header {

    }
    #skills-content{
      .content-wrapper{
        width: 100%;
        h2 {
          color: #53cab5;
          padding: 5px;
        }
        ul li {
          height: 10px;
          .ability-title {
            position: absolute;
            left: 0px;
          }
          .ability-rating {
            position: absolute;
            right: 0px;
            .glyphicon-star {
              color: #43baa5;
            }
            .glyphicon-star-empty{
              color: gray;
            }
          }
        }

        #skill-key{
          margin-top: 10px;
          width: 100%;
          display: inline-block;

          h2 {
            margin: 0;
            font-size: 15px;
          }
          #keys {
            #one-star {
            }
            .key {
              font-size: 10px;
              width: 20%;
              float: left;
            }
          }
        }
      }
    }
  }

  /*
  *
  *
  * top-nav.css.scss
  *
  *
  */

  #nav {
    display: none;
    .wrapper {
      display: none;
      a {
        display: none;
      }
    }
  }

  /*
  *
  *
  * parallax-nav.css.scss
  *
  *
  */

  #parallax-nav {
    border: 1px solid blue;
    display: none;
    ul.nav {
      display: none;
    }
  }

  /*
  *
  *
  * form.css.scss
  *
  *
  */

  #homepage #form-container {
    background-color: #f4efe0;
    height: 100vh;
    #form-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      #form-header {
        display: flex;
        flex: 1;
        h2 {
          margin: auto;
          color: #43baa5;
        }
      }
      #links {
        margin: auto;
        flex: 3;
        width: 250px;
        .contact-links {
          display: flex;
          height: 50px;
          .fa {
            flex: 1;
            border-right: 2px solid #43baa5;
            font-size: 30px;
            margin-top: 12px;
          }
          .info {
            margin: auto;
            flex: 4;
          }
        }
      }
    }
  }

}
