/*
*  about section styles
*/

#about-container {
  background-image: url("ana-pavlyuk-420815.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 130%;
}


#about-content {
  .content-wrapper {
    font-family: 'Montserrat', arial;
    text-align: center;
    vertical-align: middle;

    h2 {
      padding-top: 20px;
    }

    h3 {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(83, 202, 181, .2);
      color: #53cab5;
    }

    #me-pic {
      order: 2;
      padding-left: 10px;
      display: inline-block;
      height: 100%;
      width: 34%;
      vertical-align: middle;
      #prof-pic {
        position: relative;
        top: 35%;
        transform: translateY(-40%);
        border-radius: 10px;
        box-shadow: 0px 0px 25px 1px #000;
        margin: 10px;
      }
    }

    #me-paragraph {
      order: 1;
      display: inline-block;
      height: 100%;
      float: left;
      width: 33%;
      padding: 5px;
      #me-text {
        p {
          position: relative;
          top: 35%;
          transform: translateY(-40%);
        }
        min-width: 200px;
        height: 420px;
        position: relative;
        top: 35%;
        transform: translateY(-40%);
      }
    }

    #me-info {
      order: 3;
      display: inline-block;
      margin-top: 0px;
      padding-right: 10px;
      height: 100%;
      float: right;
      width: 33%;
      #info-text {
        height: 420px;
        position: relative;
        top: 35%;
        transform: translateY(-40%);
        ul {
          position: relative;
          top: 35%;
          transform: translateY(-40%);
        }

        ul li {
          list-style: none;
        }
      }
    }
  }
}
