//variables
$accent-green: #53cab5;

/*
*  about section styles
*/
#about-container {
  margin: 0 auto;
  padding: 400px 0;
  color: black;
  #about-header {
    .header-title {
      margin: auto 50px;
      border-bottom: 1px solid rgba(83, 202, 181, .2);
    }
    .header-quote {
      h4 {
        font-family: 'Montserrat', arial;
        font-size: 24px;
        border: none;
        margin-top: 10px;
      }
    }
  }
  #about-content {
    .content-wrapper {
      display: flex;
      font-family: 'Montserrat', arial;
      text-align: center;
      margin: 5px auto;
      h2 {
        padding-top: 20px;
      }
      h3 {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(83, 202, 181, .2);
        color: $accent-green;
      }
      #me-pic {
        flex: 1;
        order: 2;
        flex-basis: 20%;
        display: inline-block;
        vertical-align: middle;
        padding: 6px;
        #prof-pic {
          width: 80%;
          position: relative;
          top: 35%;
          transform: translateY(-30%);
          border-radius: 100%;
          border: 15px solid rgba(0,0,0,.3);
          box-shadow: 0px 0px 25px 1px #000;
        }
      }
      #me-paragraph {
        flex: 1;
        order: 1;
        flex-basis: 20%;
        display: inline-block;
        float: left;
        padding: 10px;
        #me-text {
          min-width: 200px;
          height: 420px;
          position: relative;
          top: 35%;
          transform: translateY(-40%);
          p {
            position: relative;
            top: 35%;
            transform: translateY(-40%);
          }
        }
      }
      #me-info {
        flex: 1;
        order: 3;
        flex-basis: 20%;
        display: inline-block;
        margin-top: 0px;
        padding: 10px;
        float: right;
        #info-text {
          height: 420px;
          position: relative;
          top: 35%;
          transform: translateY(-40%);
          ul {
            position: relative;
            top: 35%;
            transform: translateY(-40%);
          }
          ul li {
            list-style: none;
          }
        }
      }
    }
  }
}
