/*
*  projects section styles
*/

#projects-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 150%;
}
