/*
*  projects section styles
*/

#projects-container {
  background-image: url("nate-grant-346782.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 150%;

  margin-bottom: -300px;
}

#projects-content {
  #project-1 {
    margin: 55px 0 0 70px;
    background-color: white;
    width: 300px;
    height: 300px;
    float: left;
  }

  #project-2 {
    margin: 55px 70px 0 0;
    background-color: white;
    width:  300px;
    height: 300px;
    float: right;
  }
}
