/*
*  skills section styles
*/
#skills-container {
  background-image: url("mike-wilson-138129.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 150%;
    #lang-list {
      h2 {
        color: #53cab5;
        padding: 20px;
        border-bottom: 1px solid rgba(83, 202, 181, .2);
      }

      .col-md-6 {
        text-align: center;
        ul li {
          padding: 10px;
          position: relative;
          list-style: none;
        }
      }
    }
  }
}
