/*
*  skills section styles
*/
#skills-container {
  background-image: url("mike-wilson-138129.jpg");
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 165%;
}

#skills-header {
  height: 23%;
}

#skills-content {
  height: 77%;
  font-family: 'Montserrat', arial;
  .content-wrapper {
    display:block;
    overflow:auto;
    padding-top: 10px;
    #skill-list {
      display: inline-block;
      h2 {
        color: #53cab5;
        padding: 20px;
        border-bottom: 1px solid rgba(83, 202, 181, .2);
      }

      .col-md-6 {
        text-align: center;
        ul li {
          padding: 10px;
          position: relative;
          list-style: none;

          .ability-title {
            float: left;
            font-size: 12px;
            letter-spacing: 2.5px;
          }

          .ability-rating {
            float: right;
            font-size: 20px;
            letter-spacing: .1px;
            width: 125px;

            .glyphicon-star {
              color: white;
              width: 20px;
              letter-spacing: .1px;
            }

            .glyphicon-star-empty {
              width: 20px;
              letter-spacing: .1px;
              color: #aaa;
              opacity: .6;
            }
          }
        }
      }
    }

    #lang-list {
      display: inline-block;
      h2 {
        color: #53cab5;
        padding: 20px;
        border-bottom: 1px solid rgba(83, 202, 181, .2);
      }

      .col-md-6 {
        text-align: center;
        ul li {
          letter-spacing: .1;
          padding: 10px;
          position: relative;
          list-style: none;
          display: inline;

          .ability-title {
            float: left;
            font-size: 12px;
            letter-spacing: 2.5px;
          }

          .ability-rating {
            height: 28px;
            float: right;
            font-size: 20px;
            letter-spacing: .1px;
            width: 125px;

            .glyphicon-star {
              margin: 0;
              padding: 0;
              display: inline;
              color: white;
              width: 20px;
              height: 20px;
              letter-spacing: .1px;
            }

            .glyphicon-star-empty {
              margin: 0;
              padding: 0;
              display: inline;
              width: 20px;
              height: 20px;
              letter-spacing: .1px;
              color: #aaa;
              opacity: .6;
            }
          }
        }
      }
    }
    #skill-key {
      border: 1px solid yellow;
    }
  }
}
