<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="wrapper">
    <%= image_tag "logos/logo.jpg", alt: "Atish Logo", id: "logo", href: root_url %>
    <nav>
      <button class="burger-nav"> </button>
      <ul id="nav_list" class="nav navbar-nav navbar-right">
        <li><%= link_to 'Who dis?', extras_me_path %></li>
        <li><%= link_to 'Projects', extras_project_path %></li>
        <li><%= link_to 'Resume', extras_resume_path %></li>
        <li><div id="main_contact"><button id="nav_contact"
                                            class="all_button"
                                            class="btn btn-default"
                                            type="button"> Contact </button></div></li>
        </ul>
    </nav>
  </div>
</nav>
