<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="wrapper">
    <%= image_tag "logos/logo.jpg", alt: "Atish Logo", id: "logo", href: root_url %>
    <div id="main_contact"><button id="nav_contact"
                                        class="all_button"
                                        class="btn btn-default"
                                        type="button"> Contact </button></div>
  </div>
</nav>

<nav id="parallax-nav">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#about-container" class="parallax-item">
      <div class="label-container">
        <div class="label">
          About me
        </div>
      </div>
      <span class="glyphicon glyphicon-user"></span>
    </a></li>
    <li><a href="#resume-container" class="parallax-item">
      <div class="label-container">
        <div class="label">
          Resume
        </div>
      </div>
      <span class="glyphicon glyphicon-briefcase"></span>
    </a></li>
    <li><a href="#projects-container" class="parallax-item">
      <div class="label-container">
        <div class="label">
          Projects
        </div>
      </div>
      <span class="glyphicon glyphicon-wrench"></span>
    </a></li>
    <li><a href="#form-container" class="parallax-item">
      <div class="label-container">
        <div class="label">
          Say Hi!
        </div>
      </div>
      <span class="glyphicon glyphicon-phone"></span>
    </a></li>
  </ul>
</nav>
