<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a href="#"><%= image_tag "logos/logo.jpg", alt: "Atish Logo", id: "logo" %></a>
    <button id="collapse-icon"class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="collapse" class="collapse navbar-collapse collapse-id">
      <ul id="nav_list" class="nav navbar-nav navbar-right">
        <li>Hi!</li>
        <li>Projects</li>
        <li>Resume</li>
        <li><div id="main_contact"><button id="nav_contact" class="all_button" type="button" class="btn btn-default"> Contact </button></div></li>
      </ul>
    </div>
  </div>
</nav>
